@page
@using Domain
@model WebApp.Pages.Statistics.StudentData

@{
}


<table>
  <tr>
    <td>Name:</td>
    <td>@Model.Person.FirstName @Model.Person.LastName</td>
  </tr>
  <tr>
    <td>GPA</td>
    <td>TODO</td>
  </tr>
  <tr>
    <td>StudentCode: </td>
    <td>@Model.Person.StudentCode</td>
  </tr>
    <tr>
      <td>Has taken subjects: </td>
      <td>@foreach (Subject subject in @Model.Subjects)
          {
            @Html.Raw(subject.SubjectName)
          }
        </td>
    </tr>
</table>
